<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="vegoo.newstock.main">
         <property
               name="lifeCycleURI"
               value="bundleclass://vegoo.newstock.main/vegoo.newstock.main.E4LifeCycle">
         </property>
         <property
               name="appName"
               value="vegoo.newstock.main">
         </property>
      </product>
   </extension>

</plugin>
